.writing_screen_main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.writing_screen_title{
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100%;
    height: 100%;

}

.writing_screen_content{
    margin-top: 20px;
    width: 200px;
    height: 250px;
}
.writing_screen_button{
    margin-top: 10px;
    width: 100%;
    border: 1px solid black;
}
.writing_screen_button Button{
    width: 100%;
}